[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pylint = "*"
gdal = {path = "C:/Users/cullens/Downloads/GDAL-2.3.3-cp37-cp37m-win_amd64.whl"}

[requires]
python_version = "3.7"
